<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chipsguide.app.colorbluetoothlamp.v2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.chipsguide.app.colorbluetoothlamp.v2.application.CustomApplication"
        >
        <activity
            android:name="com.chipsguide.app.colorbluetoothlamp.v2.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.chipsguide.app.colorbluetoothlamp.v2.activity.BluetoothConnectionActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity 
            android:name="com.chipsguide.app.colorbluetoothlamp.v2.activity.SleepAssistantActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity 
            android:name="com.chipsguide.app.colorbluetoothlamp.v2.activity.TimeLightActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity 
            android:name="com.chipsguide.app.colorbluetoothlamp.v2.activity.VersionUpdateActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity 
            android:name="com.chipsguide.app.colorbluetoothlamp.v2.activity.MusicPlayerActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity 
            android:name="com.chipsguide.app.colorbluetoothlamp.v2.activity.ShakeSettingActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity 
            android:name="com.chipsguide.app.colorbluetoothlamp.v2.activity.AlbumListActivity"
            android:screenOrientation="portrait"
            ></activity>
        
        
        <service android:name="com.platomix.platomixplayerlib.core.local.PlayerService"></service>
        
    </application>

</manifest>
